- python 3.X
- numpy
- scipy
- matplotlib
- PyQt5
- pyqt5-tools

To compile:
- pyinstaller
1) Run:
pyinstaller --onefile main.py
2) Edit main.spec:
exe = EXE(..., [('W ignore', None, 'OPTION')], ...)
3) Run:
pyinstaller --onefile main.spec